---
import Layout from '@/layouts/Layout.astro';
import Nav from '@/components/nav.astro';
import Hero from '@/components/hero.astro';
import Packs from '@/components/Packs.astro';
import Footer from '@/components/Footer.astro';
import Production from '@/components/Production.astro';
import Testimonials from '@/components/Testimonials.astro';
// import Experience from '@/components/Experience.astro';
// import Us from '@/components/Us.astro';
// import Contact from '@/components/Contact.astro';
// import Footer from '@/components/Footer.astro';

---

<Layout>
    <Nav></Nav> 
    <Hero></Hero>
    <Packs></Packs>  
    <Production></Production>
    <Testimonials></Testimonials> 
     <!-- <Experience></Experience>
    <Us></Us>
    <Contact></Contact> -->
    <Footer></Footer>   
</Layout>
