---
import FacebookIcon from "@/assets/facebook.svg";
import InstagramIcon from "@/assets/Instagram.svg";
import TiktokIcon from "@/assets/tik.svg";
---

<footer
  class="border-t-[3px] border-black/20 [background:linear-gradient(to_right,#fff_40%,#7C7A7A_100%)] text-white py-8 text-center flex flex-col justify-center items-center h-44"
>
  <p class="font-mango text-md text-black mb-4">
    &copy; 2025 Valmarí. Todos los derechos reservados.
  </p>
  <div class="flex gap-x-4">
    <a
      href="https://www.instagram.com/valmari138/"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Ver perfil de instagram Valmarí"
    >
      <InstagramIcon class="w-12 h-12 text-black/80 hover:text-gray-700" />
    </a>
    <a
      href="https://www.facebook.com/val.mari.962965"
      aria-label="Facebook"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Ver perfil de Facebook Valmarí"
    >
      <FacebookIcon class="w-12 h-12 text-black/80 hover:text-gray-700" />
    </a>
    <a
      href="https://www.tiktok.com/@valmari90"
      aria-label="Tiktok"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Ver perfil de TikTok Valmarí"
    >
      <TiktokIcon class="w-12 h-12 text-black/80 hover:text-gray-700" />
    </a>
  </div>
</footer>
