<section
  class="h-screen mx-4 flex flex-col md:flex-row items-center justify-between mt-16"
>
  <div class="md:mx-8 flex-col justify-center items-center w-auto">
    <p class="font-base text-center">
      <span class="text-[#FF5218]">...</span> se van a juntar <span>?</span>
    </p>
    <p class="font-primary text-9xl text-center">La botana primero</p>
  </div>

  <div>
    <img
      src="/public/logo-full.svg"
      alt="logo de valmari"
      class="md:h-180 md:w-180 h-80 w-80 size-"
    />
  </div>
</section>

<style>
  .edit {
    text-anchor: middle;
  }
</style>
