<section
  class="h-full  flex flex-col md:flex-row md:items-center md:justify-between w-full overflow-hidden"
>
  <!-- hero title  -->
  <div
    class="flex-col justify-center px-8    mt-32 md:mt-0 h-full md:content-end md:pb-0  "
  >
    <p class="font-base  md:pl-10 text-xl md:text-3xl  text-center md:text-start ">
      <span class="text-[#FF5218]">...</span> se van a juntar <span
        class="text-[#FF5218]">?</span
      >
    </p>

    <p class="font-primary edit text-[160px] md:text-[175px] xl:text-[210px] text-center opacity-85 md:pl-10  ">
      La botana primero
    </p>
    
  </div>
  <!-- hero logo  -->
  <div id="svg-sm" class="md:hidden scale-60 -translate-y-25">
    <img src="/logo-full.svg" alt="logo de valmari" class="" />
  </div>
   <div
    id="svg-md"
    class=" opacity-0 md:transition-opacity md:transform md:opacity-100 md:delay-800 md:block absolute top-0 md:scale-85  md:top-0  transition-opacity md:translate-x-1/2  md:-translate-y-30 xl:scale-105 xl:top-0 xl:translate-x-4/5  xl:-translate-y-20"
  >
    <img src="/logo-full.svg" alt="logo de valmari" class="  " />
  </div>
</section>

<style>
  .edit {
    line-height: 0.8;
  }
</style>
