---
import LogoHero from "./LogoHero.astro";

---
<section id="home"
  class="h-full w-full flex items-center content-center justify-center md:items-center md:justify-center "
  aria-label="Sección principal de Valmarí"
>

  <div
    id="hero-container"
    class=" max-w-xl   w-auto md:max-w-7xl  h-full flex flex-col md:flex-row justify-center mx-auto md:gap-x-8 "
  >
    <!-- hero title  -->
    <div
      class="flex-col max-w-lg h-full items-center content-center justify-center  mx-auto z-20  mt-15 md:mt-0  "
    >
      <p
        class="font-mango  text-xl md:text-xl lg:text-3xl text-center  md:rounded-lg w-full mx-auto  "
      >
        <span class="text-primary text-center">...</span> se van a juntar <span
          class="text-primary">?</span
        >
      </p>

      <h1 class="font-primary edit text-[120px] xl:text-[150px] text-center text-wrap ">
        La botana primero
      </h1>
    </div>
    <LogoHero />

  </div>
</section>

<style>
  .edit {
    line-height: 0.8;
  }
</style>
