<section
  class="h-full flex flex-col items-center content-center justify-center md:flex-row md:items-center md:justify-center mx-4 md:mx-0  "
  aria-label="Sección principal de Valmarí"
>
  <!-- hero title  -->
  <div class="flex-col w-auto h-full items-center content-center  md:content-end md:pb-36  z-20">
    <p
      class=" font-mango  md:pl-28 text-2xl md:text-xl lg:text-3xl text-center md:text-left md:rounded-lg w-full mx-auto"
    >
      <span class="text-primary">...</span> se van a juntar <span
        class="text-primary">?</span
      >
    </p>

    <h1
      class="font-primary edit text-[140px] md:text-[155px] xl:text-[210px] text-center md:text-left md:pl-24"
    >
      La botana primero
    </h1>
  </div>
  <!-- logo-sm -->
  <!-- <div id="svg-sm" class="md:hidden scale-90  ">
    <img src="/logo-full.svg" alt="logo de valmari" class="" />
  </div> -->
  <div id="prueba-sm" class=" md:hidden  scale-85">
    <img
      id="linea1"
      src="/linea1.svg"
      alt="linea 1"
      class="absolute translate-x-2 scale-105"
    />
    <img id="basic-logo" src="/basic.svg" alt="logo de valmari" class="md:hidden" />
    <img
      id="linea2"
      src="/linea2.svg"
      alt="linea 2"
      class="absolute top-0 scale-110 translate-x-5"
    />
  </div>
  <div id="prueba-md" class=" hidden opacity-0 md:block md:opacity-100 md:-translate-x-30 scale-140">
    <img
      id="linea1"
      src="/linea1.svg"
      alt="linea 1"
      class="absolute translate-x-2 scale-105"
    />
    <img id="basic-logo" src="/basic.svg" alt="logo de valmari" class="" />
    <img
      id="linea2"
      src="/linea2.svg"
      alt="linea 2"
      class="absolute top-0 scale-110 translate-x-5"
    />
  </div>
</section>

<style>
  .edit {
    line-height: 0.8;
  }

  @keyframes move-line-x {
    to {
      transform: translateX(0);
    }
    from {
      transform: translateX(8px);
    }
  }
  @keyframes move-line-y {
    to {
      transform: scale(1) translateY(0);
    }
    from {
      transform: scale(1.02) translateY(0);
    }
  }
  @keyframes change-logo {
    0% {
      scale: 1.4;
    }
    50% {
      scale: 0.5;
    }
    
    100% {
      scale: 0;
    }
  }
   #prueba-md {
    animation: change-logo 10s linear;
    animation-delay: 800ms;
    animation-timeline: scroll(block );
  }

  #linea1 {
    animation: move-line-x 2s ease-in infinite alternate;
  }
  #linea2 {
    animation: move-line-y 2s ease-in infinite alternate;
    animation-delay: 20ms;
  }
</style>
