<nav class=" navbar fixed top-0 w-full h-16 shadow-xl rounded-b-3xl">
    <div class="flex justify-between mx-6 ">
        <img src="/public/M.svg"  alt="Valmarí">
        <div class="flex items-center  gap-x-4 ">
            <h3 class="text-white">Servicios y fiestas</h3>
            <img src="/public/party.svg" alt="logo de festejo">
        </div>
    </div>

</nav>

<style >
    .navbar{
        backdrop-filter: blur(20px);
        mix-blend-mode: difference;
    }
</style>