<nav
  class="navbar sticky flex  w-auto  items-center justify-between  rounded-b-[50px] md:rounded-b-full shadow-xl   p-10 md:px-12 h-16 z-90 top-0 border-[0.5px] border-[#777575] md:mx-4  "
>
  <img src="/M.svg" alt="Valmarí" class="cursor-pointer" />

  <div class=" items-center gap-x-4 hidden md:flex md:gap-x-10 ">
    <h3 class="font-mango  text-xl">Barra de Snacks</h3>
    <img src="/party.svg" alt="logo de festejo" />
    
  </div>
  <h3 class="font-mango  text-xl md:hidden">Barra de Snacks</h3>
  <img src="/party.svg" alt="logo de festejo" class="md:hidden" />


</nav>

<style>
  .navbar {
    backdrop-filter: blur(20px);
    /* background: linear-gradient(to right, #fff 40%, #7c7a7a 100%); */
    /* mix-blend-mode: difference;  */
  }

</style>
