<nav class=" navbar fixed top-0 w-full h-16 shadow-xl rounded-b-3xl z-90 ">
    <div class="flex justify-between mx-6 mix-blend-difference ">
        <div class="flex  ">

            <img src="/M.svg"  alt="Valmarí" class="cursor-pointer ">
        </div>
        <div class="flex items-center  gap-x-4 ">
            <h3 class=" font-base">Servicios y fiestas</h3>
            <img src="/party.svg" alt="logo de festejo">
        </div>
    </div>

</nav>

<style >
    .navbar{
        backdrop-filter: blur(20px);
        /* mix-blend-mode: difference; */
    }
</style>