<nav
  class="navbar fixed flex top-0 w-full justify-between px-12 h-16 z-90 items-center content-center "
>
  <img src="/M.svg" alt="Valmarí" class="cursor-pointer" />

  <div class="flex items-center gap-x-4">
    <h3 class="font-mango  text-xl">Servicios y fiestas</h3>
    <img src="/party.svg" alt="logo de festejo" />
  </div>
</nav>

<style>
  .navbar {
    backdrop-filter: blur(20px);
    /* background: linear-gradient(to right, #fff 40%, #7c7a7a 100%); */
    /* mix-blend-mode: difference;  */
  }

</style>
