<section class="w-full flex-col items-center justify-center my-36">
  <!-- <div class="h-16 md:h-20 w-full bg-primary mt-30 md:mt-48"></div> -->
  <div
    class="h-auto w-full flex flex-col items-center justify-center mt-34 md:mt-36"
  >
    <h2 class="font-mango font-semibold text-4xl md:text-5xl mt-10">
      Descubre los packs <span
        class="text-primary text-5xl md:text-8xl font-bold">.</span
      >
    </h2>

    <img
      src="/logo-full.svg"
      alt="logo de valmari"
      class="hidden md:flex md:h-auto md:w-72"
    />

    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-y-10 md:gap-x-16 md:px-8 mt-8 md:mt-6 py-2"
    >
      <!-- pack 1 -->
      <article
        class="bg-primary rounded-3xl px-12 relative group max-w-[400px] max-h-[570px] p-10  hover:transition-colors hover:bg-transparent hover:translate-x-6 hover:-translate-y-6  transform duration-500  ease-in-out"
      >
      <span class=" opacity-0 absolute  -rotate-90 -left-30 bottom-50 uppercase font-mango m-0 p-0  text-4xl font-bold ">
          Apartar fecha
        </span>
        <div class=" relative">
            <img src="/promo1.webp" alt="Pack 1" class="mx-auto" />
            <p class="font-mango uppercase text-xl">Pack 1</p>
            <p class="   font-mango uppercase font-extrabold text-3xl">
                Pa’ reuniones relax... y risas con gomitas.
            </p>
            <div class=" opacity-0 absolute bottom-10 ">
                <span class="  m-0 p-0  text-xl">
                  Ideal para eventos pequeños, vibe tranqui pero con sabor.
                </span>
            </div>
        </div>
      </article>

      <!-- pack 2 -->
      <article
        class="bg-black rounded-3xl px-8 relative group max-w-[400px] max-h-[570px] p-10"
      >
        <p class="absolute bottom-20 m-0 p-0 pr-2 text-xl">
          Más variedad, más color, más flow para eventos con más ritmo.
        </p>
        <img src="/promo3.webp" alt="Pack 2" class="h-[400px] w-auto mx-auto" />
        <p class="font-mango text-white uppercase text-xl">Pack 2</p>
        <p class="font-mango uppercase text-primary font-extrabold text-3xl">
          Aquí ya se arma la botana de verdad.
        </p>
      </article>
      <!-- pack 3 -->
      <article
        class="bg-primary rounded-3xl px-8 relative group max-w-[400px] max-h-[570px] p-10"
      >
        <p class="absolute bottom-20 m-0 p-0 pr-2 text-xl">
          El más completo. Visual, sabroso y perfecto pa’ romperla.
        </p>
        <img src="/promo2.webp" alt="Pack 3" class="mx-auto h-[400px] w-auto" />
        <p class="font-mango uppercase text-xl">Pack 3</p>
        <p class="font-mango uppercase font-extrabold text-3xl">
          Donde hay fiesta, hay Valmari sin medida.
        </p>
      </article>
    </div>
  </div>
</section>
