<section class="w-full flex-col items-center justify-center my-36">
  <!-- <div class="h-16 md:h-20 w-full bg-primary mt-30 md:mt-48"></div> -->
  <div
    class="h-auto w-full flex flex-col items-center justify-center mt-34 md:mt-36"
  >
    <h2 class="font-mango font-semibold text-4xl md:text-5xl mt-10">
      Descubre los packs <span
        class="text-primary text-5xl md:text-8xl font-bold">.</span
      >
    </h2>

    <img
      src="/logo-full.svg"
      alt="logo de valmari"
      class="hidden md:flex md:h-auto md:w-72"
    />

    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-y-10 md:gap-x-18 md:px-8 mt-8 md:mt-6 py-2"
    >
      <!-- pack 1 -->
      <article
        class="bg-primary flex-col rounded-3xl px-12 relative group max-w-[400px] max-h-[570px] p-10 hover:transform hover:translate-x-6 hover:-translate-y-6 hover:bg-transparent duration-500 ease-in-out z-1 "
      >
        <span
          class="opacity-0 absolute -rotate-90 -left-40 bottom-60 uppercase font-mango m-0 p-0 text-5xl font-bold group-hover:transform group-hover:opacity-100 group-hover:-translate-x-8 transition duration-400 hover:cursor-pointer"
        >
          Apartar fecha
        </span>
        <img src="/promo1.webp" alt="Pack 1" class="mx-auto" />
        <div class="relative my-10">
          <div class="">
            <p class="font-mango uppercase text-xl">Pack 1</p>
            <p
              class="font-mango uppercase font-extrabold text-[27px] group-hover:opacity-0 duration-100"
            >
              Pa’ reuniones relax... y risas con gomitas.
            </p>
          </div>
          <div
            class="opacity-0 absolute bottom-0 group-hover:opacity-100 transition-opacity"
          >
            <span class="m-0 p-0 text-xl">
              Ideal para eventos pequeños, vibe tranqui pero con sabor.
            </span>
            <p class="font-mango font-bold ">$ Proximamente</p>
          </div>
        </div>
      </article>

      <!-- pack 2 -->
      <article
        class="bg-black flex-col rounded-3xl px-12 relative group max-w-[400px] max-h-[570px] p-10 hover:transform hover:translate-x-6 hover:-translate-y-6 hover:bg-transparent duration-500 ease-in-out z-10"
      >
        <span
          class="opacity-0 absolute -rotate-90 -left-40 bottom-60 uppercase font-mango m-0 p-0 text-5xl font-bold group-hover:transform group-hover:opacity-100 group-hover:-translate-x-8 transition duration-400 hover:cursor-pointer"
        >
          Apartar fecha
        </span>
        <img src="/promo3.webp" alt="Pack 2" class="h-[400px] w-auto mx-auto" />
        <div class="relative">
          <div>
            <p class=" text-white group-hover:text-black font-mango uppercase text-xl">Pack 2</p>
            <p
              class=" text-primary font-mango uppercase font-extrabold text-[27px] group-hover:opacity-0 duration-100"
            >
              Aquí ya se arma la botana de verdad
            </p>
          </div>
          <div
            class="opacity-0 absolute bottom-0 group-hover:opacity-100 transition-opacity"
          >
            <span class="m-0 p-0 text-xl">
              Más variedad, más color, más flow para eventos con más ritmo.
            </span>
            <p class="font-mango font-bold ">$ Proximamente</p>

          </div>
        </div>

      </article>
      <!-- pack 3 -->
      <article
        class="bg-primary flex-col rounded-3xl px-12 relative group max-w-[400px] max-h-[570px] p-10 hover:transform hover:translate-x-6 hover:-translate-y-6 hover:bg-transparent duration-500 ease-in-out z-10"
      >
        <span
          class="opacity-0 absolute -rotate-90 -left-40 bottom-60 uppercase font-mango m-0 p-0 text-5xl font-bold group-hover:transform group-hover:opacity-100 group-hover:-translate-x-8 transition duration-400 hover:cursor-pointer"
        >
          Apartar fecha
        </span>
        <img src="/promo2.webp" alt="Pack 3" class="mx-auto h-[400px] w-auto" />
        <div class="relative">
          <div>
            <p class="font-mango uppercase text-xl">Pack 3</p>
            <p
              class="font-mango uppercase font-extrabold text-[27px] group-hover:opacity-0 duration-100"
            >
              Donde hay fiesta, hay Valmari sin medida.
            </p>
          </div>
          <div
            class="opacity-0 absolute bottom-0 group-hover:opacity-100 transition-opacity"
          >
            <span class="m-0 p-0 text-xl">
              El más completo. Visual, sabroso y perfecto pa’ romperla.
            </span>
            <p class="font-mango font-bold ">$ Proximamente</p>

          </div>
        </div>
      </article>
    </div>
  </div>
</section>
