<section class=" flex flex-col h-full" aria-label="Próximamente más contenido">
    <div class=" w-full h-16 bg-primary ">
    </div>
    <div class=" relative [background:linear-gradient(to_right,#fff_40%,#7C7A7A_100%)] h-[500px] flex justify-center items-center">

        <h2 class=" text-center text-6xl  md:text-[180px] lg:text-[350px] font-primary text-black z-20">Próximamente...</h2>
        <div class=" h-80 w-80 rounded-full border-6 border-primary absolute z-10">
    </div>
    </div>
    
   
</section>