---
import '@/styles/global.css';
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/M.svg" />
    <link rel="stylesheet" href="/src/styles/global.css" />
    <meta name="generator" content={Astro.generator} />
    <title>Valmarí - Barra de Snacks en Guadalajar</title>
  </head>
  <body>
    <div
      class="absolute inset-0 -z-10 h-full w-full bg-white [background:linear-gradient(to_right,#fff_40%,#7C7A7A_100%)]"
    >
    </div>

    <slot />
  </body>
</html>

<style >
  html,
  body {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
  }
</style>
